---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        files: \.rs$
        args:
          - --license-filepath
          - LICENSE-HEADER.txt
          - --comment-style
          - /*| *| */
          - --use-current-year
          - --detect-license-in-X-top-lines=16

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      # - id: clippy

  - repo: local
    hooks:
      - id: cargo-check
        name: Cargo check with both backends
        entry: cargo check --features "postgres,sqlite,macros"
        language: system
        types: [rust]
        pass_filenames: false
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    # Ruff version.
    rev: v0.4.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.29.0
    hooks:
      - id: yamllint
        name: Check YAML files with yamllint
        entry: yamllint -c .yamllint-config.yml --strict
        types: [yaml]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        name: Run codespell to check for common misspellings in files
        language: python
        types: [text]
        exclude: ^docs/themes/.*$|\.js$|\.css|\.json$
        args: [--ignore-words=.spelling_wordlist.txt]
